<h1>Buenas</h1>

<p> {{ current_ip }} </p>
<p> {{ type }} </p>
<p> {{ continent_code }} </p>
<p> {{ continent_name }} </p>
<p> {{ region_code }} </p>
<p> {{ region_name }} </p>
<p> {{ city }} </p>
<p> {{ zip }} </p>
<p> {{ latitude }} </p>
<p> {{ longitude }} </p>
<p> {{ location }} </p>

<!-- '#time_zone' => $time_zone, '#currency' => $currency, '#connection' => $connection, '#security' => $security, -->